theme "multicolor"


-- Load a plugin from github
plugin "Paamayim/mawm-core-widgets"


-- Which layouts the user can choose, in order
layout(layouts.fair)
layout(layouts.tile)
layout(layouts.tile.bottom)
layout(layouts.max)
layout(layouts.floating)


-- Simple tags with a default layout
tag { "www", "wksp1", "wksp2" }

-- Use the max layout for this tag
tag("tools", layouts.max)


-- Create a menu and show it when right clicking on the desktop
menu = awful.menu({ items = {
    { "open terminal", "xterm" }
} })
button("3", function() menu:toggle() end)


-- Create a bar across the top on screen 1
bar("top", 1,
    {   -- Left-aligned widgets
        widgets.tags,
        widgets.cmus(function(state)
            return format("{status}: {artist} - {title}", state)
        end),
        widgets.prompt()
    },
    {   -- Centered widgets
        widgets.tasks
    },
    {   -- Right-aligned widgets
        widgets.systray,
        widgets.network("wlan0"),
        widgets.alsa,
        widgets.battery("BAT0"),
        widgets.clock("%H:%M"),
        widgets.layouts
    }
)


-- Keysym to use for "mod" shortcuts
modkey("mod", "Mod4")


-- Use the original awesome keybindings
require "default-key-bindings"
ukey("mod+shift+space") -- but remove backwards-switching through layouts

-- Make mod+r run arbitrary programs
key("mod+r", function() prompt:run() end)

-- raise() shows a program if it is running, or launches it otherwise
key("mod+f", raise("luakit", "luakit", "www"))
key("mod+g", raise("gvim", "GVIM", "wksp1", "name"))

-- Run gvim on tag wksp1 when awesome starts
start("gvim", "wksp1")

notification_pos = "bottom_right"
signal("cmus", function(state)
    notify(
        "cmus",
        format("{artist} [{album}] - {date}\n{title}", state),
        "Now Playing"
    )
end)

-- Attach a signal to clients so the focused window has a highlighted border
csignal("focus", function(c)
    c.border_color = beautiful.border_focus
end)

csignal("unfocus", function(c)
    c.border_color = beautiful.border_normal
end)

